<%= error_messages_for 'variant' %>

<!--[form:variant]-->
<p><label for="variant_name">Name</label><br/>
<%= text_field 'variant', 'name'  %></p>

<p><label for="variant_description">Description</label><br/>
<%= text_area 'variant', 'description'  %></p>
<!--[eoform:variant]-->

