<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h @page_title ? "MacPorts DB: #{@page_title}" : "MacPorts DB" %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>
	
	<div class='mp_header'>
		<div class='header_left'>
			<h1><a href='/'>MacPorts DB</a></h1>
		</div>
		<div class='header_right'>
			<form action='/port/query' method='post'>
				Search Ports:<br />
				<input type='text' size='25' value='' name='q' />
			</form>
		</div>
		
		<div style='clear: left;'>
		    <a href='http://www.macports.org/'>MacPorts home</a>
		    | <%= link_to "all tags", :controller => 'tag', :action => 'list' %>
		    | <%= link_to "all ports", :controller => 'port', :action => 'list' %>
		    | <%= link_to "random port", :controller => 'port', :action => 'random' %>
		    | <%= link_to "people", :controller => 'person', :action => 'list' %>
		</div>
	</div>
	
	<div class='mp_body'>
		<p style="color: green"><%= flash[:notice] %></p>
		
		<%= yield  %>
	</div>

</body>
</html>
