<%= error_messages_for 'person' %>

<!--[form:person]-->
<p><label for="person_user_name">User name</label><br/>
<%= text_field 'person', 'user_name'  %></p>

<p><label for="person_firt_name">First name</label><br/>
<%= text_field 'person', 'first_name'  %></p>

<p><label for="person_last_name">Last name</label><br/>
<%= text_field 'person', 'last_name'  %></p>

<p><label for="person_email">Email</label><br/>
<%= text_field 'person', 'email'  %></p>
<!--[eoform:person]-->

