/*
-*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
$Id: macports.css 31871 2007-12-10 17:35:00Z jmpp@macports.org $
*/

body {
    margin: 0;
    padding: 30px 40px;
    background: url(/images/top-backdrop.png) repeat-x #EDEDED;
    font: 12px Helvetica, Arial, sans-serif;
    line-height: 1.2em;
}


.accessibility {
    margin: 0;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
}


a:link {
    color: #0155CD;
    text-decoration: underline;
}

a:visited {
    color: #012567;
}

a:hover {
    color: #3591ED;
}

h1, h2, h3 {
    margin: 0;
    color: white;
}

h1 {
    float: left;
}

h1 a {
    display: block;
    width: 183px;
    height: 70px;
    background: url(/images/macports-logo-top.png);
}

h2, h3 {
    background: #8695B3;
    padding: 0.2em;
}

h2 {
    font: bold 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
    margin: 0;
    border: 0;
}


#header {
    margin: 21px 0 17px 191px;
    min-width: 350px;
    max-width: 700px;
    height: 51px;
}

#header div, #header span {
    float: right;
}

#header img {
    margin-left: 5px;
}


#download {
    display: block;
    float: right;
    width: 70px;
    height: 48px;
    background: url(/images/download.png);
    margin-left: 5px;
}

a#download:hover {
    background: url(/images/download-highlight.png);
}


#languages {
    width: 150px;
}

#language img, #languages img {
    width: 30px;
    height: 48px;    
}


#navigation {
    width: 183px;
    float: left;
    clear: left;
    background: url(/images/nav-header.png) top no-repeat #B1BACC;
    line-height: 1.4em;
}

#navigation dl {
    padding: 16px 0;
    margin: 0;
    background: url(/img/nav-footer.png) bottom no-repeat;
}

#navigation dt {
    margin: 0;
    padding: 0 16px;
    color: white;
    font: bold 125% "Lucida Grande", Helvetica, Arial, sans-serif;
}

#navigation dd {
    margin: 0;
    padding: 0;
}

#navigation ul {
    margin: 0 0 1em 0;
    padding: 0;
}

#navigation li {
    display: block;
    margin-bottom: 1px;
    padding: 0 16px 0 28px;
}

#navigation a {
    text-decoration: none;
    color: #242933;
}

#navigation a:hover {
    text-decoration: underline;
}

.selected {
    background: #8898ab;
    font-weight: bold;
}

.warnings {
    background: #FCC;
    border: 2px solid #F66;
    padding: 6px;
    margin: 7px 7px 7px 198px;
    min-width: 320px;
    max-width: 670px;
}

.warnings p {
    margin: 1em 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

.warnings p:first-child {
    margin: 0;
}

#content {
    padding: 1px 0 40px 191px;
    min-width: 350px;
    max-width: 700px;
}

#content li {
    margin-bottom: 0.7em;
}

#content li p {
    margin: 0.6em 0 1.4em 0;
    padding-left: 1.6em;
}

#content li ul {
    margin-top: 0.7em;
}

#categories > ul > li {
    margin-bottom: 40px;
}

#categories ul > li  {
    list-style: none;
    width: 120px;
    float: left;
}

#categories li li {
    margin-bottom: 10px;
}

.email {
    width: 1em;
    height: 1em;
}

#footer {
    font-size: 90%;
    clear: both;
    text-align: center;
}

#footer img {
    border: 0;
    height: 31px;
    width: 88px;
}
