<h1>Ports#submit</h1>
<p>Find me in app/views/ports/submit.rhtml</p>

<p>repo_root: <%= @controller.repo_root %></p>
<p>repo_portpkgs: <%= @controller.repo_portpkgs %></p>

<p>category: <%= @category %></p>
<p>portname: <%= @portname %></p>