<%= render :partial => '/partials/port_search' %>

<h2>Port Categories</h2>
<div id="categories">
	<% unless @categories.empty? %>
		<ul>
			<% @categories.each do |category| %>
				<li><%= link_to category.name, category_ports_path(category.id) %></li>
			<% end %>
		</ul>
	<% else %>
		<p>No categories found.</p>
	<% end %>
</div>
