<%# Set titles for charts %>
<% controller.set_chart_title :macports_version, "MacPorts Versions" %>
<% controller.set_chart_title :osx_version, "OSX Versions" %>
<% controller.set_chart_title :os_arch, "OS Arch" %>
<% controller.set_chart_title :os_platform, "OS Platform" %>
<% controller.set_chart_title :build_arch, "Build Arch" %>
<% controller.set_chart_title :gcc_version, "gcc Versions" %>
<% controller.set_chart_title :xcode_version, "XCode Versions" %>

<%# All these charts are pie charts - set :type to PieChart %>
<% @charts.each do |chart_name, chartdata| %>
	<% controller.set_chart_type chart_name, "PieChart" %>
<% end %>

<%# Order the charts %>
<% ordered_charts = [:macports_version, 
                     :osx_version, 
                     :os_arch, 
                     :os_platform,
                     :build_arch,
                     :gcc_version,
                     :xcode_version] %>

<h2>System Statistics</h2>
<%# Generate links %>
	<ul>
		<% ordered_charts.each do |chart|  %>
			<li><%= link_to controller.chart_title(chart), :anchor => chart %></li>
		<% end %>
	</ul>

<%# Draw charts %>
<%= render :partial => '/partials/chart_draw', :locals => {:charts => ordered_charts, :headers => true} %>
