<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BBEditDocumentType</key>
    <string>CodelessLanguageModule</string>
    <key>BBLMColorsSyntax</key>
    <true/>
    <key>BBLMIsCaseSensitive</key>
    <true/>
    <key>BBLMKeywordList</key>
    <array>
        <string>add_users</string>
        <string>append</string>
        <string>applications_dir</string>
        <string>archcheck</string>
        <string>args-append</string>
        <string>args-delete</string>
        <string>args-replace</string>
        <string>args</string>
        <string>array</string>
        <string>autoreconf</string>
        <string>blacklist-append</string>
        <string>blacklist</string>
        <string>branch</string>
        <string>branches</string>
        <string>break</string>
        <string>build</string>
        <string>case</string>
        <string>catch</string>
        <string>categories-append</string>
        <string>categories</string>
        <string>cc_archflags</string>
        <string>cc</string>
        <string>cd</string>
        <string>cflags</string>
        <string>check</string>
        <string>checksums</string>
        <string>checksums-append</string>
        <string>choose</string>
        <string>close</string>
        <string>cmake</string>
        <string>cmd</string>
        <string>compiler</string>
        <string>compilers</string>
        <string>concat</string>
        <string>configure</string>
        <string>conflicts</string>
        <string>continue</string>
        <string>cppflags-append</string>
        <string>cppflags</string>
        <string>cxx_archflags</string>
        <string>cxxflags-append</string>
        <string>cxxflags</string>
        <string>default_variants</string>
        <string>default_variants-append</string>
        <string>default_version</string>
        <string>depends_build-append</string>
        <string>depends_build-delete</string>
        <string>depends_build</string>
        <string>depends_lib-append</string>
        <string>depends_lib-delete</string>
        <string>depends_lib</string>
        <string>depends_run-append</string>
        <string>depends_run-delete</string>
        <string>depends_run</string>
        <string>depends_skip_archcheck-append</string>
        <string>description</string>
        <string>destdir</string>
        <string>destroot</string>
        <string>dir</string>
        <string>dist_subdir</string>
        <string>distfiles-append</string>
        <string>distfiles</string>
        <string>distname</string>
        <string>else</string>
        <string>elseif</string>
        <string>env-append</string>
        <string>env</string>
        <string>eof</string>
        <string>epoch</string>
        <string>error</string>
        <string>eval</string>
        <string>exec</string>
        <string>exit</string>
        <string>expr</string>
        <string>extract</string>
        <string>fetch</string>
        <string>file</string>
        <string>files</string>
        <string>flat</string>
        <string>flush</string>
        <string>for</string>
        <string>foreach</string>
        <string>format</string>
        <string>gets</string>
        <string>git</string>
        <string>github</string>
        <string>glob</string>
        <string>global</string>
        <string>history</string>
        <string>homepage</string>
        <string>if</string>
        <string>incr</string>
        <string>info</string>
        <string>installs_libs</string>
        <string>join</string>
        <string>keepdirs</string>
        <string>lappend</string>
        <string>ld_archflags</string>
        <string>ldflags</string>
        <string>ldflags-append</string>
        <string>library</string>
        <string>license</string>
        <string>lindex</string>
        <string>linsert</string>
        <string>list</string>
        <string>livecheck</string>
        <string>llength</string>
        <string>long_description</string>
        <string>lrange</string>
        <string>lreplace</string>
        <string>lsearch</string>
        <string>lsort</string>
        <string>maintainers</string>
        <string>major</string>
        <string>master_sites</string>
        <string>menu</string>
        <string>name</string>
        <string>notes</string>
        <string>objc_archflags</string>
        <string>only</string>
        <string>open</string>
        <string>optflags</string>
        <string>out_of_source</string>
        <string>package</string>
        <string>patch</string>
        <string>patchfiles-append</string>
        <string>patchfiles-delete</string>
        <string>patchfiles</string>
        <string>path</string>
        <string>perl5</string>
        <string>pid</string>
        <string>platform</string>
        <string>platforms</string>
        <string>port</string>
        <string>PortGroup</string>
        <string>PortSystem</string>
        <string>post-activate</string>
        <string>post-build</string>
        <string>post-configure</string>
        <string>post-destroot</string>
        <string>post-extract</string>
        <string>post-fetch</string>
        <string>post-install</string>
        <string>post-patch</string>
        <string>post-pkg</string>
        <string>pre_args-delete</string>
        <string>pre_args</string>
        <string>pre-activate</string>
        <string>pre-build</string>
        <string>pre-configure</string>
        <string>pre-destroot</string>
        <string>pre-extract</string>
        <string>pre-fetch</string>
        <string>pre-test</string>
        <string>prefix</string>
        <string>proc_doc</string>
        <string>proc</string>
        <string>puts</string>
        <string>pwd</string>
        <string>python</string>
        <string>read</string>
        <string>regex</string>
        <string>regexp</string>
        <string>regsub</string>
        <string>reinplace</string>
        <string>rename</string>
        <string>replaced_by</string>
        <string>require_active_variants</string>
        <string>return</string>
        <string>revision</string>
        <string>run</string>
        <string>scan</string>
        <string>scancontext</string>
        <string>seek</string>
        <string>select</string>
        <string>set</string>
        <string>setup</string>
        <string>source</string>
        <string>split</string>
        <string>src_file</string>
        <string>startupitem</string>
        <string>string</string>
        <string>subport</string>
        <string>suffix</string>
        <string>supported_archs</string>
        <string>switch</string>
        <string>system</string>
        <string>target</string>
        <string>tell</string>
        <string>test</string>
        <string>then</string>
        <string>time</string>
        <string>trace</string>
        <string>type</string>
        <string>ui_msg</string>
        <string>universal_args-delete</string>
        <string>universal_cflags</string>
        <string>universal_cppflags</string>
        <string>universal_cxxflags</string>
        <string>universal_ldflags</string>
        <string>universal_variant</string>
        <string>unknown</string>
        <string>unset</string>
        <string>uplevel</string>
        <string>upvar</string>
        <string>url</string>
        <string>use_7z</string>
        <string>use_autoconf</string>
        <string>use_automake</string>
        <string>use_autoreconf</string>
        <string>use_bzip2</string>
        <string>use_configure</string>
        <string>use_parallel_build</string>
        <string>use_xmkmf</string>
        <string>use_xz</string>
        <string>use_zip</string>
        <string>variant</string>
        <string>version</string>
        <string>versions</string>
        <string>violate_mtree</string>
        <string>while</string>
        <string>worksrcdir</string>
        <string>worksrcpath</string>
        <string>xinstall</string>
    </array>
    <key>BBLMLanguageCode</key>
    <string>CMPT</string>
    <key>BBLMLanguageDisplayName</key>
    <string>MacPorts</string>
    <key>BBLMScansFunctions</key>
    <true/>
    <key>Language Features</key>
    <dict>
        <key>Close Block Comments</key>
        <string></string>
        <key>Close Parameter Lists</key>
        <string>}</string>
        <key>Close Statement Blocks</key>
        <string>}</string>
        <key>Close Strings 1</key>
        <string>&apos;</string>
        <key>Close Strings 2</key>
        <string>&quot;</string>
        <key>End-of-line Ends Strings 1</key>
        <false/>
        <key>End-of-line Ends Strings 2</key>
        <false/>
        <key>Escape Char in Strings 1</key>
        <string>\</string>
        <key>Escape Char in Strings 2</key>
        <string>\</string>
        <key>Identifier and Keyword Characters</key>
        <string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_-abcdefghijklmnopqrstuvwxyz</string>
        <key>Open Block Comments</key>
        <string></string>
        <key>Open Line Comments</key>
        <string>#</string>
        <key>Open Parameter Lists</key>
        <string>{</string>
        <key>Open Statement Blocks</key>
        <string>{</string>
        <key>Open Strings 1</key>
        <string>&apos;</string>
        <key>Open Strings 2</key>
        <string>&quot;</string>
        <key>Prefix for Functions</key>
        <string>platform</string>
        <key>Prefix for Procedures</key>
        <string>variant</string>
        <key>Terminator for Prototypes 1</key>
        <string></string>
        <key>Terminator for Prototypes 2</key>
        <string></string>
    </dict>
</dict>
</plist>
