<%= error_messages_for 'file_ref' %>

<!--[form:file_ref]-->
<p><label for="file_ref_is_port_pkg">Is port pkg</label><br/>
<select id="file_ref_is_port_pkg" name="file_ref[is_port_pkg]"><option value="false">False</option><option value="true">True</option></select></p>
<!--[eoform:file_ref]-->

