<h1>Editing port_pkg</h1>

<% form_tag :action => 'update', :id => @port_pkg do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @port_pkg %> |
<%= link_to 'Back', :action => 'list' %>
