<%= error_messages_for 'port' %>

<!--[form:port]-->
<p><label for="name">Name</label><br/>
<%= text_field 'port', 'name'  %></p>

<p><label for="port_home_page">HomePage</label><br/>
<%= text_field 'port', 'home_page'  %></p>

<p><label for="port_short_desc">ShortDesc</label><br/>
<%= text_field 'port', 'short_desc'  %></p>

<p><label for="port_long_desc">LongDesc</label><br/>
<%= text_area 'port', 'long_desc'  %></p>
<!--[eoform:port]-->

