<% @page_title = "all ports" %>

<h2>All ports</h2>
<table>
	<% for row in columnize(@ports.sort, 4) %>
		<tr>
			<% for port in row %>
				<td><%= link_to port.name, :controller => 'port', :action => 'show', :id => port if !port.nil? %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<br />
<%= link_to 'Previous page', { :page => @port_pages.current.previous } if @port_pages.current.previous %>
<%= link_to 'Next page', { :page => @port_pages.current.next } if @port_pages.current.next %> 
